@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <h2>Users</h2>
        <a class="btn btn-default" href="/Home/UserCreate/">Create new user</a>
        @{
            foreach (var user in (List<DTO.User>)ViewData["users"])
            {
                var name = user.FirstName + " " + user.LastName + " " + user.MiddleName;
                var link = "/Home/User/?id=" + user.Id;
                @Html.Raw("<p><a href=" + link + ">" + name + "</a></p>");
            }
        }
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2>Projects</h2>
        <a class="btn btn-default" href="/Home/ProjectCreate/">Create new project</a>
        @{
            foreach (var project in (List<DTO.Project>)ViewData["projects"])
            {
                var link = "/Home/Project/?id=" + project.Id;
                <p><a class="btn btn-default" href="@link">@project.Title</a></p>
            }
        }
    </div>
    <div class="col-md-2"></div>
</div>