@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">

        <h2>Project:</h2>
        <form method="post">
            <p>Project name:
                <input type="text" name="Title" value="" />
            </p>
            
            <p>Priority: 
                <input type="text" name="Priority" value="" /></p>
            <!--
            <p>Date: 
                <input type="text" name="FirstName" value="" />
                <input type="text" name="FirstName" value="" /></p>-->
            <p>Text: 
                <input type="text" name="Text" value="" /></p>
            <p>Performer: 
                <input type="text" name="Performer" value="" /></p>
            <p>Customer: 
                <input type="text" name="Customer" value="" /></p>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2"></div>
</div>